In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:

!unzip -o archive.zip

unzip:  cannot find or open archive.zip, archive.zip.zip or archive.zip.ZIP.

import pandas as pd # Load pandas library

new_df = pd.read_csv('Reviews.csv') # Read CSV into DataFrame

new_df.head() # Show first 5 rows

This line imports pandas, which is a library used to work with data in Python. It is shortened to pd so itâ€™s easier to type later in the code.

The next line reads the file called finance_data (1).csv and loads it into something called a dataframe named new_df. A dataframe is basically a table like a spreadsheet with rows and columns where the data is stored.

The last line shows the first five rows of the dataset. This helps us quickly see what the data looks like without showing the entire file.

In [21]:
import pandas as pd

new_df = pd.read_csv('finance_data (1).csv')
display(new_df.head())

,year,quarter,company_id,sector,revenue,profit_margin,profit,stock_price,pe_ratio,debt_to_equity,dividend_yield,market_cap
0,2000,1,Company_1,Finance,2.198686e+08,0.04,9755484.56,36.15,3.71,1.42,0.01,2.363830e+09
1,2000,1,Company_2,Consumer Goods,3.298028e+08,0.06,18814148.79,54.22,2.88,1.71,0.01,3.956767e+09
2,2000,1,Company_3,Finance,4.397371e+08,0.07,30660094.32,72.29,2.36,1.66,0.03,3.633502e+09
3,2000,1,Company_4,Energy,5.496714e+08,0.08,45293321.16,90.37,2.00,1.07,0.05,3.833839e+09
4,2000,1,Company_5,Manufacturing,6.596057e+08,0.10,62713829.30,108.44,1.73,1.36,0.02,6.178690e+09